.finger {
  $diamater: 50px;
  $radius: $diamater/2;

  position: absolute;
  border-radius: $radius;
  width: $diamater;
  height: $diamater;
  margin-top: -$radius;
  margin-left: -$radius;
  background: lightcoral;
}
