.finger {
  $width: 1.2cm;
  $height: 1.5cm;

  position: absolute;
  border-radius: $width/2;
  width: $width;
  height: $height;
  margin-top: -$height/4;
  margin-left: -$width/4;
  background: black;
}
